---
layout: page
# full_width: true
---

{% assign sorted_photos = site.photo_gallery | sort: "date" | reverse %}

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    {% for image in sorted_photos %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}
        <img src="{{ image.image_path }}" alt="{{ image.title }}" style="width:100%">
      {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    {% for image in sorted_photos %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod != 0 %}
        <img src="{{ image.image_path }}" alt="{{ image.title }}" style="width:100%">
      {% endif %}
    {% endfor %}
  </div>
</div>